[build]
  publish = "."
  command = "echo 'No build command needed'"

[[redirects]]
  from = "/*"
  to = "/login.html"
  status = 200
  force = false
  conditions = {Role = ["public"]}

[context.production.environment]
  SUPABASE_URL = "https://iiwdpempngtapcyytdbg.supabase.co"